<h1>Listing games</h1>

<table>
  <thead>
    <tr>
      <th>Current player</th>
      <th>Other player</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.current_player_id %></td>
        <td><%= game.other_player_id %></td>
        <td><%= link_to 'Play', game %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
