<p id="notice"><%= notice %></p>

<p>
  <strong>Current player:</strong>
  <%= @game.current_player.inspect %>
</p>

<p>
  <strong>Other player:</strong>
  <%= @game.other_player.inspect %>
</p>

<%= link_to 'Back', games_path %>
